<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:description="@string/description"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WarpLovesAnyone"
        tools:targetApi="31">
        <!--
            无独立界面：功能入口注入在 Cloudflare App 的设置页内
            （连接选项页的"强制代理列表"行 + 高级设置"跟随系统主题"开关）。
            模块元数据由 META-INF/xposed/ 下的 module.prop、scope.list、java_init.list 提供。
        -->
    </application>
</manifest>
